apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: {{ .Values.NAMESPACE }}
  labels:
    app: api-gateway
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: {{ .Values.PORT }}
      targetPort: {{ .Values.PORT }}
      nodePort: {{ .Values.NODE_PORT }}
